.logoImg
{
    width:50px;
}
.navBar
{
    background-color: rgb(255, 246, 246);
    width: 96%;
    overflow: hidden;
    margin-left: 55px;
}
.Favourites
{
    color: #4d4949;

}
.iconstyle
{
    color:#fff;    

}
.homeicon
{
    font-size: 30px;
    font-weight: bold;
    color:#4d4949
}
.listmenu{

     margin-left: -110px;
     margin-top: 20px;
} 