<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <form action="">
      <div class="image-logo">
      <img src="assets\logo1.png" class="logoimg">
    </div>
      <h4 class="heading">Forget Password </h4>
      <div class="input-box">
       <input type="text" placeholder="Username" required>
       <i class='bx bxs-user'></i>
      </div>
       <button type="submit" class="btn">Click</button>
    </form>
  </div>
</body>
</html>