<nav class="sidebar">
  
    <div class="menu-bar">
        <div class="menu">
       
            <ul class="menu-links">
                <li class="nav-link" style="margin-top:125px;">
                    <a href="#"  tooltip="Home" routerLink="/Timesheet"  placement="right" theme="light" >
                        <i class='bx bx-home icon'  ></i>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#" tooltip="Hours History"  routerLink="/Hourshistory"  placement="right" theme="light" maxWidth=200>
                        <i class='bx bx-line-chart icon '></i>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#" tooltip="Employee referral" routerLink="/Employeerefer"  placement="right" theme="light">
                        <i class='bx bx-group icon'></i>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#" tooltip="Leave Management" routerLink="/Leavelist"  placement="right" theme="light">
                        <i class='bx bxs-timer icon'></i>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#" tooltip="Holiday Management" routerLink="/HolidayList"  placement="right" theme="light">
                        <i class='bx bxs-calendar icon'></i>
                    </a>
                </li>
                <li class="nav-link" >
                    <a href="#" tooltip="Exit Management"  placement="right" theme="light">
                        <i class='bx bx-exit icon'></i>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
